@import '@/styles/vars.module.scss';

.inputbox {
  position: relative;
  width: 100%;
  margin-bottom: 2vh;
  background-color: $white;
}

.input {
  width: 100%;
  padding: 11px 10px 11px 40px;
  font-size: clamp(14px, 1.5vw, 15px);

  &:focus {
    outline: 2px solid $blue;
  }

  &.valid {
    outline: 2px solid $green;
  }

  &.invalid {
    outline: 2px solid $red;
  }
}

.errorMessage {
  margin: -1vh 0 10px;
  color: $red;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.smallIcon {
  position: absolute;
  top: calc(50% - 11px);
  left: 4%;
  height: 22px;
}
