@import '@/styles/vars.module.scss';

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #8ae1f3, #937efd, $blue);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(300px, 50vw, 400px);
  padding: clamp(35px, 5%, 100px) 3%;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form {
  width: 100%;
  text-align: center;
}

.userIcon {
  margin-bottom: 5vh;
}

.submitButton {
  width: 100%;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: $white;
  font-size: 15px;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  background-color: $blue;
  transition: 0.3s;

  &:disabled {
    pointer-events: none;
    background-color: lighten($blue, 10%);
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      background-color: darken($blue, 10%);
    }
  }
}

.success {
  max-width: 85%;
  text-align: center;
  color: $white;
  font-weight: 700;
  line-height: 140%;
  font-size: clamp(20px, 3vw, 40px);
}
